# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variables and secrets
.env
instance/

# Flask instance folder
instance/*

# SQLite database files
*.sqlite
*.db

# Migrations
migrations/

# Logs
*.log

# Virtual environment
venv/
env/

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db